<div class="container-fluid">
  <h2>Registration Form</h2>
  <hr>
  {{registrationForm.value | json}}
  <hr>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName = "userName" [class.is-invalid]="registrationForm.get('userName')?.invalid">
      <!-- <small class="text-danger" [class.d-none]="registrationForm.get('userName')?.valid">Username is required</small> -->
      <div *ngIf="registrationFormControl['userName']?.errors?.['required']" class="invalid-feedback">
        Username is required
      </div>
      <div *ngIf="registrationFormControl['userName']?.errors?.['minlength']" class="invalid-feedback">
        Username must be at least 3 characters long
      </div>
      <div *ngIf="registrationFormControl['userName']?.errors?.['forbiddenName']" class="invalid-feedback">
        {{registrationFormControl['userName'].errors?.['forbiddenName'].value}} Username not allowed
      </div>
    </div>
    <br>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName = "password">
    </div>
    <br>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" [class.is-invalid]="registrationForm.errors?.['misMatch']">
      <div *ngIf="registrationForm.errors?.['misMatch']" class="text-danger">
        Password do not match
      </div>
    </div>
    <br>
    <div class="form-group">
      <label>Email&nbsp;</label>
      <button type="button" class="btn btn-secondary btn-sm" (click)="addAlternateEmail()">Add e-mail</button>
      <input type="email" class="form-control" formControlName="email" [class.is-invalid]="registrationFormControl['email'].invalid">
      <div *ngIf="registrationFormControl['email'].invalid" class="text-danger">
      Email is required</div>

      <div formArrayName="alternateEmail" *ngFor="let email of alternateEmail.controls; let i = index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="checkbox" formControlName="subscribe">&nbsp;<label>Send me promotion offers</label>
    </div>
    <br>
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName = "city">
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" formControlName = "state">
      </div>
      <div class="form-group">
        <label>Postal code</label>
        <input type="text" class="form-control" formControlName = "postalCode">
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Register</button>&nbsp;
    <button class="btn btn-secondary" type="button" (click)="loadAPIData()">Load API Data</button>
  </form>
</div>

<router-outlet></router-outlet>
