<div class="container-fluid row">
  <div class="col-sm-12">
    <br>
    <h1 class="text-center"><u>Pipes Examples</u></h1>
    <br>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" (click)="showString()">String</button><br><br>
    <button class="btn btn-primary" (click)="showJson()">Json</button><br><br>
    <button class="btn btn-primary" (click)="showNum()">Number</button><br><br>
    <button class="btn btn-primary" (click)="showPercentage()">Percentage</button><br><br>
    <button class="btn btn-primary" (click)="showCurrency()">Currency</button><br><br>
    <button class="btn btn-primary" (click)="showDate()">Date</button><br><br>
    <button class="btn btn-primary" (click)="showSqrt()">Sqrt</button><br><br>
  </div>
  <div class="col-sm-10">
    <div *ngIf="showStringData">
      <h2>{{ name | lowercase }}</h2>
      <h2>{{ name | uppercase }}</h2>
      <h2>{{ name1 | titlecase }}</h2>
      <h2>{{ name1 | slice:3 }}</h2>
      <h2>{{ name1 | slice:2:5 }}</h2>
    </div>
    <div *ngIf="showJsonData">
      <h2>{{ messageClasses }}</h2>
      <h2>{{ messageClasses | json }}</h2>
    </div>
    <div *ngIf="showNumData">
      <h2>{{ 2.367 | number: '1.2-3' }}</h2>
      <h2>{{ 2.367 | number: '3.4-5' }}</h2>
      <h2>{{ 2.367 | number: '3.1-2' }} </h2>
    </div>
    <div *ngIf="showPercentageData">
      <h2>{{ 0.25 | percent }}</h2>
    </div>
    <div *ngIf="showCurrencyData">
      <h2>{{ 0.25 | currency }}</h2>
      <h2>{{ 0.25 | currency:'INR' }}</h2>
      <h2>{{ 0.25 | currency:'INR': 'code' }}</h2>
    </div>
    <div *ngIf="showDateData">
      <h2>{{date}}</h2>
      <h2>{{date| date:'short'}}</h2>
      <h2>{{date| date:'shortDate'}}</h2>
      <h2>{{date| date:'shortTime'}}</h2>
      <h2>{{date| date:'medium'}}</h2>
      <h2>{{date| date:'mediumDate'}}</h2>
      <h2>{{date| date:'mediumTime'}}</h2>
      <h2>{{date| date:'long'}}</h2>
      <h2>{{date| date:'longDate'}}</h2>
      <h2>{{date| date:'longTime'}}</h2>
    </div>
    <div *ngIf="showSqrtData">
      <h2>{{ 25 | sqrt }}</h2>
    </div>
  </div>  
</div>