<div class="container-fluid">
    <h4>Employee Enrollment Form</h4>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        Form Valid - {{employeeForm.valid}} 

        <hr>

        Form Value - {{ employeeForm.value | json}}

        <hr>

        Model Value - {{employeeData | json}}

        <hr>

        <div class="row">
            <div class="col-sm-4 form-group">
                <label>First Name</label>
                <input #firstName = "ngModel" [class.is-invalid]="firstName.invalid && firstName.untouched" type="text" class="form-control" name='fname' [(ngModel)]="employeeData.fname" required>
                {{firstName.untouched}}
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Name is requied</small>
            </div>
            <div class="col-sm-4 form-group">
                <label>Middle Name</label>
                <input #middleName="ngModel" type="text" class="form-control" name='mname' [(ngModel)]="employeeData.mname">
                Untouched - {{middleName.untouched}}
                Pristine - {{middleName.pristine}}
                Valid - {{middleName.valid}}
            </div>
            <div class="col-sm-4 form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name='lname' [(ngModel)]="employeeData.lname">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><br></div>
        </div>
        <div class="row">            
            <div class="col-sm-4">
                <label>Select Gender</label>
                <div class="form-group">
                    <input type="radio" name="gender" value="male" [(ngModel)]="employeeData.gender">
                    <label class="form-check-label">&nbsp;Male&nbsp;</label>
                    <input type="radio" name="gender" value="female" [(ngModel)]="employeeData.gender">
                    <label class="form-check-label">&nbsp;Female</label>
                </div>               
            </div>
            <div class="col-sm-4 form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control" name='dob' [(ngModel)]="employeeData.dob">
            </div>
            <div class="col-sm-4 form-group">
                <label>Mobile Number</label>
                <input type="tel" #phone = "ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.untouched" class="form-control" name='mobileNumber' [(ngModel)]="employeeData.mobileNumber" required>
                <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                    <small class="text-danger" *ngIf="phone.errors['required']" >Phone number is required</small>
                    <small class="text-danger" *ngIf="phone.errors['pattern']" >Phone number must be of 10 digits</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><br></div>
        </div>
        <!-- <div class="row" [(ngModel)]="employeeData"Group="address">
            <div class="col-sm-3 form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street">
            </div>
            <div class="col-sm-3 form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city">
            </div>
            <div class="col-sm-3 form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state">
            </div>
            <div class="col-sm-3 form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" name="postalCode">
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-12"><br></div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label>Role</label>
                <select (change)="validateRole(role.value)" #role="ngModel" [class.is-invalid]="roleHasError && role.touched" class="form-control" name="role" [(ngModel)]="employeeData.role">
                    <option *ngFor="let role of roles" [value]="role.value">
                        {{role.name}}
                    </option>
                </select>
                <small class="text-danger" [class.d-none]="!roleHasError || role.untouched">Please Choose a topic</small>
            </div>
            <div class="col-sm-4">
                <label>Time Preference</label>
                <div class="form-group">
                    <input type="radio" name="timePreference" value="morning" [(ngModel)]="employeeData.timePreference">
                    <label class="form-check-label">&nbsp; Morning (9AM-6PM) &nbsp;</label>
                    <input type="radio" name="timePreference" value="night" [(ngModel)]="employeeData.timePreference">
                    <label class="form-check-label">&nbsp; Night (5PM-2AM)</label>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><br></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-sm btn-success float-end" [disabled]="employeeForm.invalid || roleHasError">Submit</button>
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>
